@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-600;
    @apply shadow-lg;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
    @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-200;
}

@tailwind utilities;

.dark {
    --color-bg-primary: #3F3E42;
    --color-bg-secondary: #302f31;
    --color-bg-tertiary: #202022;
    --color-bg-accent: #3FA037;
    --color-text-primary: #E8E7D5;
    --color-text-secondary: #C1BEBC;
    --color-text-accent: #4DB33D;
}

.light {
    --color-bg-primary: #E8E7D5;
    --color-bg-secondary: #C1BEBC;
    --color-bg-tertiary: #3F3E42;
    --color-bg-accent: #4DB33D;
    --color-text-primary: #3F3E42;
    --color-text-secondary: #C1BEBC;
    --color-text-accent: #3FA037;
}

* {
    font-family: 'Source Sans 3', sans-serif;
}

:root {
    background-color: var(--color-bg-primary);
}

.switch-checkbox {
    display: none;
}
